<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<h1>New status</h1>

<%= render 'form' %>

<%= link_to 'Statuses List', statuses_path %>
<%= link_to 'Cagos list', cagos_path %>
